<!DOCTYPE html>
<html>
<head>
    <title>Fragen | Ask and Learn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset='utf-8' />
    <link href="/public/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css" />
    <link href='//fonts.googleapis.com/css?family=Raleway:400,200,300' rel='stylesheet' type='text/css' />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/css/MetroJs.min.css" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/css/dash-style.css" />
    <script type="text/javascript">
        if (window.location.hash == '#_=_'){
            window.location.hash = '';
        }
    </script>
</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=492242497533605";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header id='nav-pane'>
        <nav class="navbar navbar-default navbar-fixed-top" id='navpane' role="navigation">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span class='icon'></a>
                </div>
                <nav class="collapse navbar-collapse navbar-ex1-collapse pull-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <% if (user) { %>
                        <li class='username'>
                            <a href='/dashboard'><div id='username-pic'><img src=<%= fbpic %> /></div><span><%= user.displayName %></span></a>
                        <% } %>
                        <li><a href="/signout">Sign Out</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </header>
    <div id="content">
        <div class="row">
            <div class="col-md-6 col-md-offset-2" id='board'>
                <div id="mod-panel">
                    <h2><i class='icon-book pull-left'></i>Modules</h2>
                    <div class='tiles tile-group row'></div>
                </div>
            </div>
            <div class="col-md-3">
                <aside id='side-bar'>
                    <div id="user-photo" class='thumbnail'>
                        <img src=<%= fbpic %> />
                    </div>
                    <p id='username'><%= user.displayName %></p>
                    <ul class="nav nav-pills nav-stacked">
                        <li class='active'><a href="#"><i class='icon-book'></i> Modules</a></li>
                        <li><a href="/friends" target='_blank'><i class='icon-group'></i> Invite friends</a></li>
                        <li><a href="<%= collectionURL%>" target='_blank'><i class='icon-facebook-sign'></i> My activity</a></li>
                        <li>    <div class="like-button">
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffragen.cmq.me&amp;width=450&amp;height=21&amp;colorscheme=light&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;send=false&amp;appId=492242497533605" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:21px;" allowTransparency="true"></iframe>
    </div></li>
                    </ul>
                </aside>
            </div>
        </div>

        <footer>
            <p class='copyright'>2013 © Fragen</p>
        </footer>
    </div>
    <script type="text/javascript" src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type="text/javascript" src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='/public/js/MetroJs.min.js'></script>
    <script type="text/javascript" src='/public/js/dash-script.js'></script>
</body>
</html>