<!DOCTYPE html>
<html>
<head>
    <title>Fragen | Ask and Learn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset='utf-8' />
    <link href="../img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/css/MetroJs.min.css" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/css/dash-style.css" />
    <script type="text/javascript">
        if (window.location.hash == '#_=_'){
            window.location.hash = '';
        }
    </script>
    <style>
        ul#friends li {
            list-style-type: none;
            display: inline;
            float: left;
            width: 300px;
            padding: 10px;
            background: #eee;
            margin: 10px;
        }

        ul#friends li h4 {
            font-size: 16px;
            display:inline;

        }

        ul#friends li.invited {
            background: #FF9900;
        }

    </style>
</head>
<body>
        <!-- For Feed Dialog invites -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId: '492242497533605',
            status: true,
            cookie: true,
            xfbml: true,
            oauth: true
        });

        // Additional initialization code such as adding Event Listeners goes here
      };

      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--  -->

    <header id='nav-pane'>
        <nav class="navbar navbar-default navbar-fixed-top" id='navpane' role="navigation">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class='icon'></a>
                </div>
                <nav class="collapse navbar-collapse navbar-ex1-collapse pull-right" role="navigation">
                    <ul class="nav navbar-nav">
                        <li><a href="/dashboard">DASHBOARD</a></li>
                        <li><a href="/signout">SIGN OUT</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </header>


    <div id="content">
        <h1>Invite your friends to fragen!</h1>

        <ul id="friends">
        <% for(var i=0; i<app_friends.length; i++) {%>
            <li class ='invited'>
                <div>
                    <img src='<%= app_friends[i].pic_square %>' />
                    <a href='http://facebook.com/<%= app_friends[i].username %>'><h4><%= app_friends[i].name %></h4> (Using Fragen)</a>
                </div>
            </li>
        <% } %>

        <% for(var i=0; i<to_invite_friends.length; i++) {%>
            <li>
                <div>
                    <img src='<%= to_invite_friends[i].pic_square %>' />
                    <a href='http://facebook.com/<%= to_invite_friends[i].username %>'><h4><%= to_invite_friends[i].name %></h4></a>
                    <a href='javascript:void(0)' data-fbid='<%= to_invite_friends[i].uid %>' class='invite'>Send Invite</a>
                </div>
            </li>
        <% } %>
        </ul>
    </div>


    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type="text/javascript" src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <script type="text/javascript" src='/public/js/dash-script.js'></script>
    <script type="text/javascript" src='/public/js/MetroJs.min.js'></script>
    <!-- For Feed dialog invites -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.invite").click(function(){
                var fb_id = $(this).data('fbid');

                FB.ui({
                  method: 'feed',
                  link: 'http://fragen.cmq.me',
                  picture: 'http://fragen.cmq.me/public/img/fragen-iconb.png',
                  name: 'Fragen',
                  caption: 'Fragen Q & A',
                  description: 'Come join me on Fragen, the realtime Q & A site!',
                  to: fb_id,
                }, function(response){});

                });
        });
    </script>
</body>
</html>
