<!DOCTYPE html>
<html>
<head>
    <title>Fragen | Invite your friends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset='utf-8' />
    <link href="/public/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/css/invite-style.css" />
    <script type="text/javascript">
        if (window.location.hash == '#_=_'){
            window.location.hash = '';
        }
    </script>
</head>
<body>
        <!-- For Feed Dialog invites -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        // init the FB JS SDK
        FB.init({
            appId: '492242497533605',
            status: true,
            cookie: true,
            xfbml: true,
            oauth: true
        });

        // Additional initialization code such as adding Event Listeners goes here
      };

      // Load the SDK asynchronously
      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/all.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <!--  -->

    <header id='nav-pane'>
        <nav class="navbar navbar-default navbar-fixed-top" id='navpane' role="navigation">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                       <span class="sr-only">Toggle navigation</span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                       <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/"><span class='icon'></a>
                </div>
                <nav class="collapse navbar-collapse navbar-ex1-collapse pull-right" role="navigation">
                    <ul class="nav navbar-nav">
                    <% if (user) { %>
                        <li class='username'>
                            <a href='/dashboard'><div id='username-pic'><img src=<%= fbpic %> /></div><span><%= user.name %></span></a>
                    <% } %>
                        <li><a href="/signout">Sign Out</a></li>
                    </ul>
                </nav>
            </div>
        </nav>
    </header>


    <div id="content">
        <h1>Invite your friends to fragen!</h1>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div id="friends-wrapper" class="row">
                    <ul id="friends" class="clearfix">
                    <% for(var i=0; i<app_friends.length; i++) {%>
                        <li class ='invited col-md-4'>
                            <div class='friend-thumbnail'>
                                <a href='http://facebook.com/<%= app_friends[i].username %>'><img src='<%= app_friends[i].pic_square %>' /></a>
                                <span><%= app_friends[i].name %></span>
                                <a data-fbid='<%= to_invite_friends[i].uid %>' data-fbname='<%= to_invite_friends[i].name %>' class='invited'>On Fragen</a>

                            </div>
                        </li>
                    <% } %>
                    <% for(var i=0; i<to_invite_friends.length; i++) {%>
                        <li class='col-md-4'>
                            <div class="friend-thumbnail">
                                <a href='http://facebook.com/<%= to_invite_friends[i].username %>' target="blank"><img src='<%= to_invite_friends[i].pic_square %>' /></a>
                                <span><%= to_invite_friends[i].name %></span>
                                <a href='javascript:void(0)' data-fbid='<%= to_invite_friends[i].uid %>' data-fbname='<%= to_invite_friends[i].name %>' class='invite'>Send Invite</a>
                            </div>
                        </li>
                    <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type="text/javascript" src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <!-- For Feed dialog invites -->
    <script type="text/javascript">
        $(document).ready(function() {
            $("a.invite").click(function(){
                var fb_id = $(this).data('fbid');
                var fb_name = $(this).data('fbname');

                FB.ui({
                  method: 'feed',
                  link: 'http://fragen.cmq.me',
                  picture: 'http://fragen.cmq.me/public/img/fragen-iconb.png',
                  name: 'Fragen',
                  caption: "fʁaːgən, means 'to ask' in German",
                  description: 'Hi ' + fb_name + '! Come join me on Fragen, the realtime knowledge sharing platform that connects students and lecturers!',
                  to: fb_id,
                }, function(response){});

                });
        });
    </script>
</body>
</html>
