<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <!--content determined dynamically-->
    <title><%=: module.title | upcase %> | Ask and Learn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset='utf-8' />

    <!-- old -->
    <link rel="stylesheet" type="text/css" href="/public/css/styles.css">

    <link href="/public/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,300" rel="stylesheet" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,200,300' rel='stylesheet' type='text/css'>
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/public/css/mCustomScrollbar.css" />
    <!-- new -->
    <link rel="stylesheet" type="text/css" href="/public/css/fragen-style.css" />

</head>
<body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id))
            return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=492242497533605";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <header id='nav-pane'>
        <nav class="navbar navbar-default navbar-fixed-top" id='navpane' role="navigation">
            <div class="container nav-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                 </button>
                 <a class="navbar-brand" href="#"><span class='icon'></a>
             </div>
             <nav class="collapse navbar-collapse navbar-ex1-collapse pull-right" role="navigation">
                <ul class="nav navbar-nav">
                    <% if (user) { %>
                    <li class='username'>
                        <a href='/dashboard'><div id='username-pic'><img src=<%= fbpic %> /></div><span><%= user.displayName %></span></a>
                    <% } %>

                    <li>
                        <% if (!user) { %>
                        <a href="/auth/facebook">Sign In</a>
                        <% } else { %>
                        <a href="/signout">Sign Out</a>
                        <% } %>
                    </ul>
                </nav>
            </div>
        </nav>
    </header>
    <div id="content">
        <div id="mod-desc">
            <h1 id='mod-name'><%=: module.title| upcase %></h1> <!--content determined dynamically-->
            <h3 id='mod-title'><%=: module.description | upcase %></h3>
        </div>
        <div class='row' id='wrapper'>

            <div class="col-md-10 col-md-offset-1">
                <div id="qna-wrapper">
                    <div id="qn-view">
                        <div class="panel-group messageBoard" id="accordion"></div>
                    </div>
                    <div id=""class="newPostDiv">
                        <textarea id="title-view" class="newPostTitle" type="text" autofocus placeholder="Your Question title" ></textarea>
                        <div id="ans-view-wrapper">
                            <textarea id='ans-view' class="newPostText" rows="5" cols="40" placeholder="Your Question Here"></textarea>
                            <button id="qnSubmit" class="btn btn-default newPostBtn">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="settings" class="col-md-1">
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class='icon-cogs'></i> Sort
                        <span class="caret"></span>
                    </button>
                    <div class="btn-group btn-group-vertical dropdown-menu" data-toggle="buttons"role="menu">
                      <button type="radio" class="btn btn-default sortByTime"><i class="icon-time"></i> Time</button>
                      <button type="radio" class="btn btn-default sortByVotes"><i class="icon-thumbs-up-alt"></i> Vote</button>
                  </div>  
              </div>
              <!-- this is the anonymous switch -->
              <button id="anonymousSwitch" type="button" class="btn btn-mini" data-toggle="button">Anonymous</button>
          </div>
        </div>
    </div>
    <div class="like-button">
        <fb:like href="http://la.cmq.me" width="90px" layout="button_count" show_faces="true" send="false"></fb:like>
    </div>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-2600045-5', 'cmq.me');
    ga('send', 'pageview');
    </script>
    <!-- End of Google Analytics -->
    <!--scripts below -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
    <script type="text/javascript" src='http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js'></script>
    <script type="text/javascript" src="/public/js/mCustomScrollbar.js"></script>
    <script type="text/javascript" src='/public/js/fragenEdited.js'></script>
    <script type="text/javascript" src="/public/js/jquery.tinysort.js"></script>
    <script type="text/javascript"> window.moduleid = <%= moduleid %>; </script>
    <script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>